
.listViewContainer{
    background-color: lightgrey;
    padding-top:5vh;
    padding-bottom:5vh;
    height: 100vh;
    overflow-y:scroll ;
}

.listViewAddButton{
    border-radius: 50%;
    background-color: green;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    width: 10vw;
    position: fixed;
    bottom: 60px;
    right:60px;
    color:white;
    font-size: 18px;
    text-align: center;
}

.listViewItem{
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    line-height: 30px;
    height: 60px;
    margin: 1em;
    background-color: white;
}


.listViewItem > .listViewItemImg{
    height: 60px;
    width: 60px;
    border-right:1px solid grey ;
}


.listViewItem > .listViewItemTextSection{
    width:calc(100% - 60px);
    padding-left: 1em;
}

.listViewItem  .listViewItemTitle{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: larger;
    font-weight: bolder;

}

.listViewItem  .listViewItemDescription{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}